---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <div class="sidebar-links">
      <hr>
      {% for page in site.pages %}
      {% if page.sidebar %} <p><a href="{{site.url}}{{site.baseurl}}/{{page.permalink}}">{{page.title}}</a></p>
      <hr>
      {%endif%}
      {% endfor %}
      </div>
    </div>
  </header> <!-- End Header -->

  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact</h3>
      <ul>
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
      </ul> 
    </section> 
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}
    </div>
    <center>
    </center>
  </footer> 
</aside> 
<div class="content-box clearfix">
  {{ content }}
</div>
